body {
  margin: 0;
  padding: 0;
  background-color: #2b2b2b;
  font-family: Arial, sans-serif;
  color: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #3c3c3c;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.button {
  font-size: 36px;
  height: 80px;
  width: 80px;
  margin: 0;
  text-align: center;
  border: 1px solid #555;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.2s, transform 0.2s, box-shadow 0.2s;
  background-color: #444;
  color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.button:hover {
  background-color: #666;
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.row-container {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.reset-btn {
  margin-top: 20px;
  padding: 10px 20px;
  color: #fff;
  background-color: #5cb85c;
  font-size: 18px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s, box-shadow 0.2s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.reset-btn:hover {
  background-color: #4cae4c;
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #f9f9f9;
  text-align: center;
}
